body,
html {
    height: 100%;
    background-color: #d3d3d3;
    font-family: 'Fahkwang', sans-serif;
}

#imagetag0 {
    width: 200px;
    height: 200px;
}

#namediv0 {
    display: block !important;
    margin: 20px auto 20px auto !important;

}

#namediv1 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv2 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv3 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv4 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv5 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv6 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv7 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv8 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}

#namediv9 {
    display: block !important;
    margin: 20px auto 20px auto !important;
}


/* Button hover effect */

button {
    background-color: teal !important;
}

button:hover {
    box-shadow: 0 0 3pt 2pt blue;
}

#search-btn {
    background-color: teal !important;
}

#search-btn:hover {
    box-shadow: 0 0 3pt 2pt blue;
}

#clear-results {
    background-color: teal !important;
}

#clear-results:hover {
    box-shadow: 0 0 3pt 2pt blue;
}

#clear-itinerary {
    background-color: teal !important;
}

#clear-itinerary:hover {
    box-shadow: 0 0 3pt 2pt blue;
}

.close {
    background-color: white !important;
}

/* Index card effect for search results (0 - 9) */
img {
    border: 2px solid teal;
    border-radius: 25px;
}

#answerdiv-0 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv0 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv0 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv0 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-1 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-2 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-3 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-4 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-5 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-6 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#locationdiv6 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#namediv6 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#phonediv6 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-7 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv7 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv7 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv7 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-8 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv8 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv8 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv8 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#answerdiv-9 {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 10px black;
}

#namediv9 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    font-weight: bolder;
}

#locationdiv9 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#phonediv9 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

#center-test {
text-align: center;
}

/* Miscellaneous styling */
#itinerary-title {
    font-size: 20px;
}

/* Parallax styling */
.parallax {
    /* The image used */
    background-image: url('../images/downtown.jpg');
    /* Height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url('../images/beach.jpg');
    /* Height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/soccer_stadium2.jpg');
    /* Height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../images/themepark.jpg');
    /* Height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}